h1.button_{
    display: flex;
    justify-content: space-between;
}
.table{
    thead{
        th{
            font-size: 9pt;
        }
    }
    tbody > tr > td{
        font-size: 8pt;
    }
}

.layout-spacing {
  padding-bottom: 25px;
}

.widget {
    position: relative;
    padding: 20px;
    border-radius: 6px;
    border: none;
    background: #fff;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
  
    .widget-heading {
      display: flex;    
      justify-content: space-between;
      margin-bottom: 15px;

      h5 {
        letter-spacing: 0px;
        font-size: 19px;
        display: block;
        color: #0e1726;
        font-weight: 600;
        margin-bottom: 0;
      }      
    }

    &.widget-wallet-one {
        .wallet-title {
            letter-spacing: 0px;
            font-size: 18px;
            display: block;
            color: #0e1726;
            font-weight: 600;
            margin-bottom: 0;
        }
        .total-amount {
            font-size: 38px;
            color: #191e3a;
            font-weight: 600;
        }
        .wallet-text {
            color: #506690;
            letter-spacing: 1px;
            font-weight: 700;
        
            &:hover {
                color: #4361ee;
            }
        
            svg {
            width: 16px;
            height: 16px;
            }
        }
        
        .wallet-action {
            padding: 4px 0px;
            border-radius: 10px;
            max-width: 350px;
            margin: 0 auto;
        }
        
        .list-group {
            .list-group-item {
                border: none;
                padding-left: 0;
                padding-right: 0;
                position: relative;
                .media{
                    display: flex;
                    align-items: flex-start;
                    .media-body{                        
                        flex: 1;
                        align-self: center;
                        h6 {
                            color: #3b3f5c;
                            font-weight: 700;
                            margin-bottom: 0;
                            font-size: 18px;
                            letter-spacing: 1px;
                        }                        

                        p {
                            color: #888ea8;
                            margin-bottom: 0;
                            font-size: 12px;
                            font-weight: 600;
                        }                        
                    }   
                }
                .amount {
                    position: absolute;
                    top: 21px;
                    right: 0;
                }
            }
        
            &.list-group-media .list-group-item .media .media-body h6,
            &.list-group-media .list-group-item .media .media-body p {
                color: #0e1726;
                font-weight: 500;
            }
        }

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border-top: 1px solid #000;
        }                      
    }
}

.mt-container-ra {
    position: relative;
    height: 325px;
    overflow: auto;
    padding-right: 12px;
}

.timeline-line .item-timeline {
    display: flex;
    width: 100%;
    padding: 8px 0;
    transition: .5s;
    position: relative;
    border-radius: 6px;
    cursor: pointer;

    .t-dot {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        border-color: inherit;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        top: 5px;
        left: 5px;
        transform: translateX(-50%);
        border-color: #e0e6ed;
        background: #bfc9d4;
        z-index: 1;
      }

      &:after {
        position: absolute;
        border-color: inherit;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        left: 5px;
        transform: translateX(-50%);
        border-color: #e0e6ed;
        width: 0;
        height: auto;
        top: 12px;
        bottom: -19px;
        border-right-width: 0;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0;
      }
    }

    &.timeline-primary .t-dot:before {
      background: #4361ee;
    }

    &.timeline-success .t-dot:before {
      background-color: #009688;
    }

    &.timeline-danger .t-dot:before {
      background-color: #e7515a;
    }

    &.timeline-dark .t-dot:before {
      background-color: #607d8b;
    }

    &.timeline-secondary .t-dot:before {
      background: #805dca;
    }

    &.timeline-warning .t-dot:before {
      background-color: #e2a03f;
    }

    &:last-child .t-dot:after {
      display: none;
    }

    .t-meta-time {
      margin: 0;
      min-width: 100px;
      max-width: 100px;
      font-size: 12px;
      font-weight: 700;
      color: #888ea8;
      align-self: center;
    }

    .t-text {
      align-self: center;
      margin-left: 14px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      transition: .5s;

      p {
        margin: 0;
        font-size: 13px;
        letter-spacing: 0;
        font-weight: 600;
        margin-bottom: 0;

        a {
          margin-bottom: 0;
          font-size: 13px;
          font-weight: 600;
          color: #009688;
        }
      }

      span.badge {
        position: absolute;
        right: -1px;
        padding: 2px 4px;
        font-size: 10px;
        letter-spacing: 1px;
        opacity: 0;
        font-weight: 600;
        transform: none;
        top: 6px;
      }
    }

    &.timeline-primary .t-text span.badge {
      color: #fff;
      border: 1px solid #4361ee;
      background-color: #4361ee;
    }

    &.timeline-secondary .t-text span.badge {
      color: #fff;
      border: 1px solid #805dca;
      background-color: #805dca;
    }

    &.timeline-danger .t-text span.badge {
      color: #fff;
      border: 1px solid #e7515a;
      background-color: #e7515a;
    }

    &.timeline-warning .t-text span.badge {
      color: #fff;
      border: 1px solid #e2a03f;
      background-color: #e2a03f;
    }

    &.timeline-success .t-text span.badge {
      color: #fff;
      border: 1px solid #009688;
      background-color: #009688;
    }

    &.timeline-dark .t-text span.badge {
      color: #fff;
      border: 1px solid #3b3f5c;
      background-color: #3b3f5c;
    }

    &:hover .t-text span.badge {
      opacity: 1;
    }

    .t-text p.t-time {
      text-align: right;
      font-size: 15px;
    }

    .t-time {
      margin: 0;
      min-width: 80px;
      max-width: 80px;
      font-size: 13px;
      font-weight: 600;
      color: #181e2e;
      letter-spacing: 1px;
    }
}

