
@import "../../../plugins/table/datatable/datatables5";
@import "../../template/plugins/light/table/datatable/custom_dt";

@import '../../template/light/components/modal';
@import '../../template/light/components/tabs.scss';

@import '../../components/fixedheader';
@import '../../components/filters';
@import '../../components/table';
@import '../../components/loaders';
