@import "../../plugins/table/datatable/datatables5";
@import "../template/plugins/light/table/datatable/custom_dt";
// @import "../template/plugins/light/table/datatable/dt-global_style";
// @import "../template/plugins/dark/table/datatable/dt-global_style";

@import '../template/light/components/tabs';
@import '../template/dark/components/tabs';
@import '../template/light/components/modal';
@import '../template/dark/components/modal';

@import '../template/light/users/account-setting';
@import '../template/dark/users/account-setting';

@import '../components/fixedheader';
@import '../components/filters';
@import '../components/charts';