@import "../../plugins/table/datatable/datatables5";
@import "../template/plugins/light/table/datatable/custom_dt";
// @import "../template/plugins/light/table/datatable/dt-global_style";
// @import "../template/plugins/dark/table/datatable/dt-global_style";

@import '../template/light/components/tabs';
@import '../template/dark/components/tabs';
@import '../template/light/components/modal';
@import '../template/dark/components/modal';

@import '../template/light/users/account-setting';
@import '../template/dark/users/account-setting';

@import '../components/fixedheader';
@import '../components/filters';
@import '../components/charts';

div.spam-date-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 15px;
    align-items: baseline;
    > select{
        padding: 0px 15px;
        align-self: baseline;
    }
}

.NewTimeLine{
    width:100%;
    height: 450px;
    overflow-x: auto;
    overflow-y: scroll;
	color:#fff;
	padding: 0px 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    ul{
        list-style-type:none;
        border-left:2px solid #094a68;
        padding:10px 5px;
        li{
            padding: 15px 5px;
            position:relative;
            cursor:pointer;
            transition:.5s;
            border-bottom: 1px solid #ebedf2;
            > span{
                display:inline-block;
                background-color: #3b3f5c;
                border-radius: 10px;                
                font-size: 10px;
                text-align:center;
                padding: 3px 10px;
            }
            .content{
                h3{
                    margin-top: 8px;
                    margin-bottom: 0px;
                    color: #0e1726;
                    font-size: 10pt;                    
                }
                p{
                    padding:5px 0px 5px 0px;
                    font-size: 9pt;
                    color: #0e1726;
                }
            }
            &::before{
                position:absolute;
                content:'';
                width:10px;
                height:10px;
                background-color:#34ace0;
                border-radius:50%;
                left:-11px;
                top:28px;
                transition:.5s;
            }
            &:last-child{
                border: 0px;
            }
            &:hover{
                background-color: #ebedf2;
                &::before{
                    background-color:#4361ee;
	                box-shadow:0px 0px 10px 2px #4361ee;
                }
            }
        }
    }
}

/*
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}
}*/


.loaderItem {
    margin: 0 auto;
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.follow_up_hide{
    display: none;
}

// .callcenter{
//     background-color: #00ab55 !important;
    
//     td{
//         color: #fff !important;
//     }
// }