@import "../../plugins/table/datatable/datatables5";
@import "../template/plugins/light/table/datatable/custom_dt";
// @import "../template/plugins/light/table/datatable/dt-global_style";
// @import "../template/plugins/dark/table/datatable/dt-global_style";

@import '../template/light/components/modal';
@import '../template/dark/components/modal';

@import '../components/fixedheader';
@import '../components/filters';
@import '../components/charts';