@import "../../plugins/table/datatable/datatables";
@import "../template/plugins/light/table/datatable/dt-global_style";
@import "../template/plugins/dark/table/datatable/dt-global_style";

@import '../template/light/components/modal';
@import '../template/dark/components/modal';

@import '../components/fixedheader';
@import '../components/filters';
@import '../components/charts';