@import "../../plugins/apex/apexcharts";


@import '../template/light/components/accordions';
@import '../template/dark/components/accordions';
@import '../template/light/components/tabs';
@import '../template/dark/components/tabs';
@import '../template/light/components/modal';
@import '../template/dark/components/modal';

@import '../template/light/users/account-setting';
@import '../template/dark/users/account-setting';

@import '../template/light/widgets/_widgets/reset-analytics';
@import '../template/dark/widgets/_widgets/reset-analytics';

// @import '../template/light/widgets/_widgets/widget-six';
// @import '../template/dark/widgets/_widgets/widget-six';

@import '../template/light/widgets/_widgets/reset-sales';
@import '../template/dark/widgets/_widgets/reset-sales';

// @import '../template/light/widgets/_widgets/widget-activity-four';
// @import '../template/dark/widgets/_widgets/widget-activity-four';
// @import '../template/light/widgets/_widgets/widget-chart-two';
// @import '../template/dark/widgets/_widgets/widget-chart-two';

.table:not(.dataTable).table-bordered thead tr th{ border: 1px solid #000000; padding: 10px; }
.table:not(.dataTable).table-bordered > tbody > tr td{ border: 1px solid #000000; }

.report_sale {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
}

.head_platform{
    background-color: #ffbb44;
    color: #000000 !important;
}

.popover {
    .body{
        display: grid;
        gap: 0;
        font-size: 12px;

        .d-flex {
            display: flex;
            align-items: center;
        }
        
        .justify-content-between {
            justify-content: space-between;
        }
        
        .cell_head, .d-flex.w-50 {
            border: 1px solid #ddd;
            padding: 10px;
            background-color: #fff; /* Fondo blanco para las celdas */
        }

        .cell_head {
            background-color: #f0f0f0; /* Cambia este color según lo que necesites */
            font-weight: bold;

            &.confirmed{
                background-color: #00ab55;
            }

            &.cancelled{
                background-color: #e7515a;
            }            

            &.height{
                height: 100%;
            }
        }        
        
        // .d-flex.w-50.pb-1 {
        //     border-bottom: 1px solid #ddd;
        // }
    }
}