@import "../../plugins/table/datatable/datatables";
@import "../template/plugins/light/table/datatable/dt-global_style";
@import "../template/plugins/dark/table/datatable/dt-global_style";

@import '../template/light/components/tabs.scss';
@import '../template/dark/components/tabs.scss';

@import "../template/light/users/account-setting.scss";
@import "../template/dark/users/account-setting.scss";