@import "../../plugins/bootstrap-select/select.scss";
@import "../../plugins/flatpickr/flatpickr.scss";

@import "../template/light/users/account-setting.scss";
@import "../template/dark/users/account-setting.scss";

@import "../template/light/elements/alert.scss";
@import "../template/dark/elements/alert.scss";