@import "../../plugins/choices/choices";

@import "../template/light/users/account-setting";
@import "../template/dark/users/account-setting";

@import "../template/light/elements/alert";
@import "../template/dark/elements/alert";

@import "../template/light/forms/switches";
@import '../template/light/components/tabs';

@import '../components/gallery';

