@import "../../plugins/table/datatable/datatables";

@import "../template/plugins/light/table/datatable/dt-global_style";
@import "../template/plugins/light/table/datatable/custom_dt_custom";
@import "../template/plugins/dark/table/datatable/dt-global_style";
@import "../template/plugins/dark/table/datatable/custom_dt_custom";

@import "../../plugins/flatpickr/flatpickr.scss";
@import "../../plugins/notification/snackbar/snackbar";
@import "../../plugins/bootstrap-select/bootstrap-select";

@import '../template/light/components/accordions';
@import '../template/dark/components/accordions';
@import '../template/light/components/tabs.scss';
@import '../template/dark/components/tabs.scss';
@import '../template/light/components/modal';
@import '../template/dark/components/modal';
@import '../components/autocomplete';

@import "../template/light/users/account-setting.scss";
@import "../template/dark/users/account-setting.scss";

.autocomplete-results {
    z-index: 9;
}

.secondary-nav{
    top: 0;
}

#wrapper_whatsApp{
    p{
        font-size: 0.75rem;
        letter-spacing: 0;
        line-height: unset;
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;

    .box-option{
        background-color: #f8f9fa;
        padding: 10px;
        border-radius: 8px;      
    }
}

.btn_operations{
    padding: 0.375rem 0.75rem;
}
.btn_status_action{
    padding: 0.5rem !important;
}

//MODIFICACIONES DE DATATABLES
/* Clase para hacer fija la cabecera */
.fixed-header {
    position: sticky;
    top: 52px;
    z-index: 1;
    z-index: 1000;
    width: 100%;
    background-color: rgba(234, 241, 255, 0.74); /* Asegúrate de que el fondo sea blanco o del color de la tabla */
}

table.dataTable .form-control {
    font-size: 0.625rem;
  
    &::-webkit-input-placeholder, &::-ms-input-placeholder, &::-moz-placeholder {
      font-size: 0.625rem;
    }
}

:not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
    height: calc(1.3em + 1.3rem + 2px);
}

.bootstrap-select{
    .dropdown-toggle{
        height: calc(1.3em + 1.3rem + 2px);
        padding: 7px 16px;
        line-height: 1.5;
        white-space: unset;
        
        .filter-option{
            // height: auto;
        }
    }
    .dropdown-menu{
        border: 0 !important;
    }
}