@import "../../plugins/table/datatable/datatables";
@import "../../plugins/notification/snackbar/snackbar";
@import "../../plugins/bootstrap-select/bootstrap-select";
@import "../template/plugins/light/table/datatable/dt-global_style";
@import "../template/plugins/dark/table/datatable/dt-global_style";

@import '../template/light/components/modal';
@import '../template/dark/components/modal';
@import '../template/light/components/accordions';
@import '../template/dark/components/accordions';
@import '../template/light/components/tabs.scss';
@import '../template/dark/components/tabs.scss';

@import "../template/light/users/account-setting.scss";
@import "../template/dark/users/account-setting.scss";