@import "../../plugins/flatpickr/flatpickr";
@import "../../plugins/bootstrap-select/select";

@import '../template/light/components/modal';
@import '../template/dark/components/modal';
@import '../template/light/components/tabs';
@import '../template/dark/components/tabs';

.nav-link {
    display: flex;
    align-items: center;
    gap: 5px;

    &.active{
        &:hover{
            svg{
                color: #fff;
            }
        }
    }
}

.tab {
    .tab-content{
        background: #fff;
        padding: 1.25rem;
        box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);
        border-radius: 0 0 .2rem .2rem;
    }
}

.btn svg,
.table:not(.dataTable) tbody tr td svg{
    width: 15px;
    height: 15px;
    color: #fff;
}

*>.callcenter-x:nth-child(1) {
    z-index: 49;
    opacity: 0;
    position: relative;
    transform: translate(50px);
    animation: .4s intro-x-animation ease-in-out .33333s;
    animation-fill-mode: forwards;
    animation-delay: .1s;
}

div.box{
    box-shadow: 0 3px 5px #0000000b;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: .6rem;
    position: relative;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    .rounded-full {
        border-radius: 9999px;
    }

    .flex-none {
        flex: none;
    }
    .w-10 {
        width: 2.5rem;
    }
    .h-10 {
        height: 2.5rem;
    }
    .image-fit {
        position: relative;
    }

    .font-medium {
        font-weight: 500;
    }

    .text-slate-500 {
        --tw-text-opacity: 1;
        color: rgb(100 116 139 / var(--tw-text-opacity));
    }
    
    .text-xs {
        font-size: .75rem;
        line-height: 1rem;
    }
    .mt-0\.5 {
        margin-top: .125rem;
    }
    
    .zoom-in {
        transition-property: transform, box-shadow;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 20px 25px -5px #0000001a,0 8px 10px -6px #0000001a
        }
    }        
}

div.controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
}
.services-container{
    padding: 15px;
    background-color: #dde9fa;
    margin-top: 15px;
    border-radius: 8px;
    position: relative;
    >.check-bubble {
        position: absolute;
        top: -10px;
        right: -8px;
        width: 30px;
        height: 30px;
        background-color: #4CAF50; /* Verde para indicar selección */
        border-radius: 50%; /* Hace que sea un círculo */
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto 3D */
        cursor: pointer; /* Cambia el cursor a mano para indicar que es interactivo */
        
        >.check-mark {
            color: white !important; /* Color del check */
            font-size: 14px; /* Tamaño del check */
            font-weight: bold;
        }
    }
    > div.items-container{
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        > div.items{
            margin-bottom: 15px;
            border-bottom: 1px solid #dde9fa;
            &:last-child{
                margin-bottom: 0px;
                border-bottom: 0px;
            }
            > div.information_data{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                margin-bottom: 8px;
                > p{
                    margin: 0px;
                    > strong{
                        color: #000;
                    }
                }
            }
            > div.flight_data{
                margin-top: 8px;
            }
        }
        > div.item-data{
            table{
                tbody{
                    tr{
                        td{
                            > p{
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div#serviceMapModal{
    div#services_map{
        height: 350px;
    }
}

.pac-container{
    z-index: 9999;
}
div.image-listing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 25px;
    > div.item{
        max-height: 250px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        embed{
            width: 100%;
            height: 100%;
        }
        > div.btn_{
            position: absolute;
            top: 10px;
            right: 15px;
        }
    }
}