@import "../../plugins/flatpickr/flatpickr";

@import '../template/light/components/modal';
@import '../template/dark/components/modal';
@import '../template/light/components/tabs';
@import '../template/dark/components/tabs';

@import '../components/gallery';
@import '../components/cancelled';
@import '../components/logs'; //ESTILOS PARA LOGS, DETALLES RESERVA

.main-content{
    background-color: #ffffff;
    font-family: "Poppins", serif;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 5px;

    &.active{
        &:hover{
            svg{
                color: #fff;
            }
        }
    }
}

.btn svg.feather-check-circle,
.btn svg.feather-unlock,
.btn svg.feather-lock,
.btn svg.feather-plus{
    width: 15px;
    height: 15px;
    color: #fff !important;
}

*>.callcenter-x:nth-child(1) {
    z-index: 49;
    opacity: 0;
    position: relative;
    transform: translate(50px);
    animation: .4s intro-x-animation ease-in-out .33333s;
    animation-fill-mode: forwards;
    animation-delay: .1s;
}

div.box{
    box-shadow: 0 3px 5px #0000000b;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: .6rem;
    position: relative;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    .rounded-full {
        border-radius: 9999px;
    }

    .flex-none {
        flex: none;
    }
    .w-10 {
        width: 2.5rem;
    }
    .h-10 {
        height: 2.5rem;
    }
    .image-fit {
        position: relative;
    }

    .font-medium {
        font-weight: 500;
    }

    .text-slate-500 {
        --tw-text-opacity: 1;
        color: rgb(100 116 139 / var(--tw-text-opacity));
    }
    
    .text-xs {
        font-size: .75rem;
        line-height: 1rem;
    }
    .mt-0\.5 {
        margin-top: .125rem;
    }
    
    .zoom-in {
        transition-property: transform, box-shadow;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 20px 25px -5px #0000001a,0 8px 10px -6px #0000001a
        }
    }        
}

div.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;

    >div, >button{
        width: 100%;
    }
}

.services-container{
    padding: 15px;
    background-color: #dde9fa;
    border-radius: 8px;
    position: relative;
    >.check-bubble {
        position: absolute;
        top: -10px;
        right: -8px;
        width: 30px;
        height: 30px;
        background-color: #4CAF50; /* Verde para indicar selección */
        border-radius: 50%; /* Hace que sea un círculo */
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto 3D */
        cursor: pointer; /* Cambia el cursor a mano para indicar que es interactivo */
        
        >.check-mark {
            color: white !important; /* Color del check */
            font-size: 14px; /* Tamaño del check */
            font-weight: bold;
        }
    }
    > div.items-container{
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        > div.items{
            margin-bottom: 15px;
            border-bottom: 1px solid #dde9fa;
            &:last-child{
                margin-bottom: 0px;
                border-bottom: 0px;
            }
            > div.information_data{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                margin-bottom: 8px;
                > p{
                    margin: 0px;
                    > strong{
                        color: #000;
                    }
                }
            }
            > div.flight_data{
                margin-top: 8px;
            }
        }
        > div.item-data{
            table{
                tbody{
                    tr{
                        td{
                            > p{
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div#serviceMapModal{
    div#services_map{
        height: 350px;
    }
}

.pac-container{
    z-index: 9999;
}

.table-container, .table-responsive {
  
    table {
      width: 100%;
      border-collapse: collapse;
    //   overflow: hidden; // Asegura que el borde redondeado aplique a la tabla
  
      thead, tfoot {
        tr{
          th {
            background-color: rgba(251, 86, 7, 0.72) !important; // Fondo azul claro
            padding: 0.5rem; /*8px*/
            font-size: 0.75rem; /*12px*/
            color: #16161D;
            text-align: left;
            border: 1px solid #CCD6EB;

            &:first-child {
              font-weight: 600;
            }                      
          }
        }
      }
  
      tbody {
        tr {
          th, td {
            padding: 0.5rem;
            font-size: 0.75rem;
            color: #425466;
            text-align: left;
            border: 1px solid #CCD6EB; // Bordes sutiles

            &:first-child {                
                background-color: #f1f2f3 !important; // Fondo azul claro
                color: #16161D;
                font-weight: 500;
            }                           
          }
        }
      }
  
      tfoot {
        tr {                        
          th, td {
            background-color: rgba(218, 218, 218, 1) !important; // Fondo verde claro para el total
            &:first-child {
              font-weight: 400;
            }
          }
        }
      }
    }

    &:not(.table-details-booking){
        border-radius: 8px;

        table{
            border-radius: 5px;
        }
    }    
}