@import "../../plugins/table/datatable/datatables";
@import "../../plugins/tomSelect/tom-select.default";
@import "../template/plugins/light/table/datatable/dt-global_style";
@import "../template/plugins/dark/table/datatable/dt-global_style";
@import "../template/plugins/light/tomSelect/custom-tomSelect";
@import "../template/plugins/dark/tomSelect/custom-tomSelect";

@import '../template/light/components/modal.scss';
@import '../template/dark/components/modal.scss';

@import '../template/light/widgets/_widgets/reset-analytics';
@import '../template/light/widgets/_widgets/widget-chart-three';
@import '../template/dark/widgets/_widgets/widget-chart-three';