@import '../components/autocomplete';
@import "../../plugins/flatpickr/flatpickr";
@import "../../plugins/bootstrap-select/select.scss";

@import '../template/light/components/modal';
@import '../template/dark/components/modal';

@import '../template/light/widgets/_widgets/reset-analytics';
@import '../template/light/widgets/_widgets/widget-chart-three';
@import '../template/dark/widgets/_widgets/widget-chart-three';

.bookingbox{
    padding: 0;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "type type type type"
    "from from to to"
    "language passengers currency rate_group"
    "dates dates dates dates"
    "button button button button";
    
    > div.type{
        grid-area: type;
        display: flex;
        justify-content: space-between;
    }
    > div.from{
        grid-area: from;
        position: relative;
    }
    > div.to{
        grid-area: to;
        position: relative;
    }
    > div.language{
        grid-area: language;
    }
    > div.currency{
        grid-area: currency;
    }
    > div.passengers{
        grid-area: passengers;
    }
    > div.rate_group{
        grid-area: rate_group;
    }
    > div.dates{
        grid-area: dates;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        > :nth-child(2){
            display: none;
        }
    }
    > div.button{
        grid-area: button;
        > button{
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        grid-template-areas: "type type type type"
                            "from from from from"
                            "to to to to"
                            "language passengers currency rate_group"
                            "dates dates dates dates"
                            "button button button button";
    }

}

.quote_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 25px;

    > div.left_{
        display: flex;
        flex-direction: column;
        gap: 15px;

        // > div.item{
        //     display: grid;
        //     grid-template-columns: 200px 1fr 1fr;
        //     grid-column-gap: 10px;
        //     grid-row-gap: 10px;
        //     background-color: white;
        //     border-radius: 5px;
        //     padding: 10px;
        //     border: 1px solid #ced4da;
        //     > div.one_{
        //         align-self: center;
        //         img{
        //             width: 100%;
        //             height: auto;
        //         }
        //     }
        //     > div.two_{
        //         h2{
        //             color: #2D008E;
        //             font-size: 14pt;
        //             font-weight: bold;
        //         }
        //         ul{
        //             padding-left: 15px;
        //         }
        //     }
        //     > div.three_{
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: space-between;
        //         > div:nth-child(1){
        //             text-align: right;
        //             p{
        //                 margin: 0px;
        //                 &:nth-child(1){
        //                     font-size: 13pt;
        //                     font-weight: bold;
        //                 }
        //             }
        //         }
        //         > div:nth-child(2){

        //             .checkButton {
        //                 display: none;
        //             }
                    
        //             .custom-button {
        //                 display: inline-block;
        //                 width: 100%;
        //                 border-radius: 4px;
        //                 background: linear-gradient(263deg, #191970 7.15%, #3E3ED3 100%);
        //                 color: white;
        //                 cursor: pointer;
        //                 border: none;
        //                 position: relative;
        //                 &:hover{
        //                     color: white;
        //                 }
        //             }
                    
        //             .custom-button.checked {
        //                 background-color: #e74c3c;
        //             }
                    
        //             .checkButton + label svg {
        //                 display: none;
        //                 position: absolute;
        //                 right: 10px;
        //                 top: 7px;
        //             }
                    
        //             .checkButton:checked + label {
        //                 background: #1cbb8c;
        //                 border-color: #1cbb8c;
        //             }                    
        //         }
        //     }
        // }

        > div.item{
            display: grid;
            grid-template-columns: 270px 2fr 1fr;
            grid-column-gap: 15px;
            border-radius: 8px;
            background: #FFF;
            box-shadow: 0px 0px 32px 0px rgba(145, 161, 180, 0.6);        

            > div.one{
                padding: 15px;

                h2{
                    font-size: 17pt;
                    line-height: 1;
                    margin: 0 0 10px;
                }                

                img{
                    width: 100%;
                    @media (max-width: 850px) {
                        max-width: 280px;
                    }
                }
                > div.stars{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    &::before{
                        content: '';
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAARCAYAAAAi5qlcAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGXSURBVHgB7ZdBUsIwFIb/pKhbbmB7AcUj4A28gB4BdlRWLHXcoCfQE+gNPILcoDgeQHbISBtfKRBKWxKsODC8f6adTN6fb9K+JG8CsFisIrU/Grh+b+KvxLyMRGGkFbiQziu1qhiGHrreAGXEvFyeLAQ4lSt6uxPAkSy/KpiXq/wdoLPnTnsGpVYF8wp5OgHNoIoDGuCgBuGcxj1L3hcgfMIYfXzTY5oc86x4Au2gBuU8Q2fLVn2Mwwvceb1UL/PW4kkcUuO3ksiuCuatxZPo0FaIwjqgevYjyTsMz3Dr9TMh5tnw3mY8XQM6dIaNJBUOUYNxMlHdeCYyr4hHPz861zVgUUn1DlaOj6ia562EPO0bzyeeMPAU8W40b/ke4MIsGw/zLD3pBEhp2D6Wnn3lCQvvkqeSCirKjj6UqLio+2QSYnarSzy22i3eJ5R6mLSEuKS3N/dskJdOgBDxBSL5sFHUnReeVvBImWtSvEEEF7baft4JZj/qa4HnEw+yMeUd/x8vLkrxjW5VPH5ste0838CL4/5meT8CvLb0/lNHMAAAAABJRU5ErkJggg==');
                        width: 95px;
                        height: 18px;
                    }
                }
                > div.badges{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    span{
                        display: flex;
                        padding: 4px 8px;
                        align-items: flex-start;
                        gap: 10px;
                        border-radius: 4px;
                        font-size: 10pt;
                        text-align: center;
                        &:nth-child(1){
                            background: #edfdf3;
                            color: #2f6339;
                        }
                        &:nth-child(2){                            
                            background: rgba(66, 84, 102, 0.08);
                            color: #425466;
                        }                        
                    }
                }
                @media (max-width: 500px) {
                    grid-row: 1/1;
                    grid-column: 1/3;
                }
            }
            > div.two{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 15px;

                h3{
                    font-size: 14pt;
                    line-height: 1;
                    margin: 0 0 10px;
                }

                ul.inline{
                    display: flex;
                    list-style: none;
                    padding: 0px;
                    margin: 0 0 10px;
                    flex-wrap: wrap;
                    column-gap: 15px;
                    li{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
                ul.included{
                    display: flex;
                    flex-direction: column;
                    padding: 0px;
                    margin: 0px;
                    gap: 5px;
                    padding-left: 20px;
                }
                @media (max-width: 500px) {
                    grid-row: 2/2;
                    grid-column: 1/3;
                }
            }
            > div.three{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #16161D;
                border-left: 1px solid #ccd6eb;
                color: #fff;
                position: relative;

                > div.one{
                    align-items: end;
                    display: flex;
                    flex-direction: column;
                    padding: 15px;
                    > p{
                        // font-size: 11pt;
                        font-size: 9pt;
                        line-height: 1.5;
                        margin: 0px;
                        color: #ffffff;
                    }

                    // > :nth-child(2){
                    //     font-size: 12pt;

                    //     > :first-child{
                    //         color: #ffc839;
                    //         text-decoration: line-through;
                    //     }
                    //     > :nth-child(2){
                    //         font-weight: 700;
                    //         text-decoration: none;
                    //     }
                    // }

                    > :nth-child(2){
                        // font-size: 17pt;
                        font-size: 14pt;
                        font-weight: bold;
                    }
                }
                > div.two{
                    .checkButton{
                        display: none;
                    }

                    .custom-button{
                        display: flex;
                        padding: 1rem; /*16*/
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                        border-radius: 0;
                        background: #fdc90d;
                        border: 1px solid #16161D;
                        color: #16161D;
                        width: 100%;
                        cursor: pointer;
                        font-size: 0.8rem;
                        font-weight: 700;
                        margin: 0;

                        &:hover{
                            border-color: #16161D;
                            transform: none;
                        }
                    }

                    .custom-button.checked {
                        background-color: #e74c3c;
                    }
                    
                    .checkButton + label svg {
                        display: none;
                        position: absolute;
                        right: 10px;
                        top: 7px;
                    }
                    
                    .checkButton:checked + label {
                        background: #1cbb8c;
                        border-color: #1cbb8c;
                    }
                }
                @media (max-width: 850px) {
                    grid-row: 2/2;
                    grid-column: 1/3;
                    border-left: 0px;
                    border-top: 1px solid #ccd6eb;
                    padding-top: 15px;
                    margin-top: 15px;
                }
                @media (max-width: 500px) {
                    grid-row: 3/3;
                    grid-column: 1/3;
                }
            }

            @media (max-width: 1199px) {
                grid-template-columns: 1fr 2fr 1fr;
            }
            @media (max-width: 850px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 500px) {
                grid-template-columns: 1fr;
                grid-row-gap: 15px;
            }
        }        
    }

    > div.right_{
        background-color: white;
        padding: 15px;
        border-radius: 5px;

        > div.client_information{
            margin-bottom: 23px;
            border-bottom: 1px solid #ced4da;
            padding-bottom: 25px;
            > div.one_{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                margin-bottom: 15px;
                label{
                    font-weight: bold;
                }
            }
            > div.two_{
                display: flex;
                flex-direction: column;
                gap: 15px;
                label{
                    font-weight: bold;
                }
            }
        }
        > div.additional{
            > div.one_{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 15px;
                grid-row-gap: 15px;
                label{
                    font-weight: bold;
                }
                button{
                    align-self: flex-end;
                }
            }
        }
    }
}

div#loadContent{
    div.loading{
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
}