@import "../../plugins/table/datatable/datatables";
@import "../template/plugins/light/table/datatable/dt-global_style";
@import "../template/plugins/dark/table/datatable/dt-global_style";

@import '../template/light/components/modal.scss';
@import '../template/dark/components/modal.scss';
@import '../template/light/components/tabs.scss';
@import '../template/dark/components/tabs.scss';

@import '../template/light/widgets/_widgets/widget-four';
@import '../template/dark/widgets/_widgets/widget-four';