@import "../../plugins/table/datatable/datatables";
@import "../template/plugins/light/table/datatable/dt-global_style";
// @import "../template/plugins/light/table/datatable/custom_dt_custom";
@import "../template/plugins/dark/table/datatable/dt-global_style";
// @import "../template/plugins/dark/table/datatable/custom_dt_custom";

@import '../template/light/components/accordions';
@import '../template/dark/components/accordions';
@import '../template/light/components/modal';
@import '../template/dark/components/modal';

#zone_map_container{
    width: 100%;
    height: 550px;
    text-align: center;
}