@import "../../../plugins/table/datatable/datatables5";
@import "../../template/plugins/light/table/datatable/custom_dt";

@import '../../template/light/components/accordions';
@import '../../template/light/components/modal';

@import '../../components/fixedheader';
@import '../../components/filters';
@import '../../components/charts';

div#serviceMapModal div#services_map {
    height: 400px;
}