.pos-form {
    .top-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin-bottom: 20px;
    }
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: start;
    }
    .capture-card {
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        width: 100%;

        .capture-inputs-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .double-col {
                grid-column: 1/3;
            }
        }

        h2 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    .check-container {
        display: flex;
        align-items: flex-end;
        padding-bottom: 12px;
    }
    .sellers-container {
        display: grid;
        grid-template-columns: 1fr 30.5px;
        gap: 10px;
        align-items: end;
    
        button {
            height: 30.5px;
            display: grid;
            place-content: center;
            margin-bottom: .5rem;
        }
    }
    .button-container {
        display: flex;
        width: 100%;
        margin-top: 30px;
        
        button {
            width: inherit;
        }
    }
    .previous-total-container, .total-remaining-container {
        display: flex;
        column-gap: 5px;
    }
    .red {
        color: #dc3545;
    }
    .success {
        color: #198754;
    }
    .payment-section {
        margin-top: 10px;
        display: grid;
        gap: 20px;
    }
    .sail-data {
        grid-column: 2/3;
        grid-row: 1/4;
    }
}
