@import "../../../plugins/table/datatable/datatables5";
@import "../../../plugins/apex/apexcharts.scss";
// @import "../../template/plugins/light/table/datatable/custom_dt";

@import '../../template/light/widgets/_widgets/reset-analytics';
@import '../../template/light/widgets/_widgets/widget-card-four';
@import '../../template/light/widgets/_widgets/widget-card-five';

@import '../../template/light/widgets/_widgets/reset-sales';
@import '../../template/light/widgets/_widgets/widget-wallet-one';
@import '../../template/light/widgets/_widgets/widget-chart-one';

@import '../../template/light/components/modal';

@import '../../components/filters';
@import '../../components/charts_new2';
@import '../../components/table';
@import '../../components/loaders';

//LLAMAMOS ESTILOS DE OTRA VISTA
@import '../../sections/new_spam';

.items-button{
  display: flex;
  gap: 16px;  
}
.card .card-title{
  font-size: 18px;
}

.container-loader{
  text-align: center;
  color: #000;
}

#revenueMonthly{
  font-size: 40px;
}

.callcenter-container{ font-family: "Poppins", serif; }

.callcenter-container{ 
  p.value .container-loader, .w-progress-stats .container-loader, .list-group-media .container-loader{
    font-size: 25px !important;
  }

  .widget.widget-wallet-one{
    .list-group{
      display: flex;
      gap: 10px;
      .list-group-item{        
        padding: 0;
        color: #000;

        p, h6{
          margin: 0;
        }
        p.tx-inverse{
          font-size: 0.813rem;
        }      
        p.amount{
          top: 0;
          font-size: 1rem;
        }
      }
    }
  }
}