.search-container{
    display: grid;
    grid-template-columns: 400px 150px;
    grid-column-gap: 15px;
    > div:nth-child(2){
        button{
            width: 100%;
            height: 100%;
        }
    }
}

#zone_map_container{
    width: 100%;
    height: 550px;
    text-align: center;
}