@import "../css/bootstrap.min";

@import "./template/light/main";
@import "./template/plugins/light/perfect-scrollbar/perfect-scrollbar";
@import "./template/light/structure";

// @import "./template/dark/main";
// @import "./template/plugins/dark/perfect-scrollbar/perfect-scrollbar";
// @import "./template/dark/structure";
