@import "../plugins/waves/waves";
@import "../plugins/highlight/styles/monokai-sublime";
@import "../plugins/sweetalerts2/sweetalerts22.scss";

@import "./template/light/loader";
@import "./template/dark/loader";
@import "./template/light/loadergo";
@import "./template/dark/loadergo";

@import "./template/light/elements/alert";
@import "./template/dark/elements/alert";