
@import "../../../plugins/table/datatable/datatables5";
@import "../../../plugins/flatpickr/flatpickr";

@import "../../template/plugins/light/table/datatable/custom_dt";

@import '../../template/light/components/modal';

@import '../../components/fixedheader';
@import '../../components/filters';
@import '../../components/charts';