
@import "../../../plugins/table/datatable/datatables5";
@import "../../template/plugins/light/table/datatable/custom_dt";

@import '../../template/light/widgets/_widgets/reset-analytics';
@import '../../template/light/widgets/_widgets/widget-card-four';
@import '../../template/light/widgets/_widgets/widget-card-five';

@import '../../template/light/widgets/_widgets/reset-sales';
@import '../../template/light/widgets/_widgets/widget-wallet-one';
@import '../../template/light/widgets/_widgets/widget-chart-one';

@import '../../template/light/components/modal';

@import '../../components/fixedheader';
@import '../../components/filters';
@import '../../components/charts_new2';
@import '../../components/table';
@import '../../components/loaders';

#filterModal{
  background-color: #ebedf2;
  border-radius: 8px;
  border: 1px solid #e0e6ed;
  
  .top{
    border: 0;
    .bootstrap-select{
      &.btn-group{
          > .dropdown-toggle{
            padding: 18px;
          }
      }
    }    
  }

  .box_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;    
    border: 1px solid #CCD6EB;
    padding: 16px;
    background-color: #fff;
    font-size: 14px;

    label{
      letter-spacing: initial;
      color: #425466;
      font-size: 14px;
      line-height: 19.55px;
      outline: none;
      margin: 0;            
      border: 0;
      padding: 0;      
    }
  }

  .item-input{
    display: grid;                        
    grid-gap: 10px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.container-loader{
  text-align: center;
  color: #000;
}
  
#revenueMonthly{
  font-size: 40px;
}
  
.callcenter-container{ font-family: "Poppins", serif; }
  
.callcenter-container{ 
  p.value .container-loader, .w-progress-stats .container-loader, .list-group-media .container-loader{
    font-size: 25px !important;
  }

  .widget.widget-wallet-one{
    .list-group{
      display: flex;

      .list-group-item{
        border: 1px solid #000;
        padding: 0.5rem;
        color: #000;

        p, h6{
          color: #000;
          margin: 0;
        }
        .tx-inverse{
          font-size: 0.875rem; /*14*/
        }      
        p.amount{
          top: 8%;
          right: 3%;
          font-size: 1rem;
        }

        &.active{
          p, h6{
            color: #fff;
          }
        }
      }
    }
  }
}
