@import "../../../plugins/table/datatable/datatables5";
@import "../../template/plugins/light/table/datatable/custom_dt";

@import '../../template/light/components/modal';
@import '../../template/dark/components/modal';

@import '../../components/fixedheader';
@import '../../components/filters';
@import '../../components/charts_new';
@import '../../components/charts_new2';