@import "../../../plugins/table/datatable/datatables5";

@import '../../template/light/components/modal';
@import '../../template/light/components/tabs';

@import '../../components/gallery';

@import "../../template/plugins/light/table/datatable/custom_dt";