@import '../../template/light/components/accordions';
@import '../../template/light/components/modal';

.search-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 240px;
    grid-column-gap: 10px;
    > div.two_{
        display: grid;
        grid-template-columns: 1fr 25px 1fr;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        > div.label_{
            align-self: center;
            text-align: center;
        }
    }
    // button{
    //     width: 100%;
    //     height: 100%;
    // }
}

#rates-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    > div.item, > form.item, > form > div.item{
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: 1px solid #ced4da;
        // padding: 15px;
        border-radius: 5px;
        > .card-body{
            > div.bottom_{
                display: flex;
                flex-direction: column;
                gap: 15px;
                > div.single_, > div.single_2{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 25px;
                    grid-row-gap: 25px;
                    >div{
                        display: flex;
                        flex-direction: column;
                        padding: 12px 16px;
                        text-align: left;
                        border-radius: 8px;
                        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.08);
                    }
                    > button{
                        width: 100%;
                        min-height: 45px;
                    }
                }
                > div.single_2{
                    grid-template-columns: 1fr 1fr 1fr;
                }
                > div.multiple_, > div.multiple_2{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-column-gap: 25px;
                    >div{
                        display: flex;
                        flex-direction: column;
                        padding: 12px 16px;
                        text-align: left;
                        border-radius: 8px;
                        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.08);
                    }
                }
                > div.multiple_2{
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                }
                p{
                    margin-bottom: 5px;
                    font-size: 10pt;
                }
                button{
                    border-radius: 5px;
                }
            }
        }
    }
    > form#editPriceForm{
        display: flex;
        flex-direction: column;
        gap: 15px;
        > button{
            width: 250px;
            align-self: end;
            border-radius: 5px;
        }
    }
    > div.spinner-container{
        margin: 0 auto;
    }
}