@import "../../../plugins/table/datatable/datatables5";
@import "../../template/plugins/light/table/datatable/custom_dt";

@import "../../../plugins/flatpickr/flatpickr";

@import '../../template/light/components/modal';

@import '../../components/filters';