@import "../../../plugins/table/datatable/datatables5";
@import "../../template/plugins/light/table/datatable/custom_dt";

@import '../../template/light/components/modal.scss';

@import '../../template/light/widgets/_widgets/widget-four';