div.invoice-container, div.invoice-actions-btn, div.booking-information{
    width: 100%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(145, 161, 180, 0.25);
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    > div.top{
        display: flex;
        flex-direction: column;
        gap: 5px;
        > h1{
            display: flex;
            justify-content: space-between;
            color: #0059A7;
            font-weight: normal;
            margin-bottom: 8px;
            > span{
                color: #7EB714;
                font-size: 10pt;
            }
        }
        > h2{
            color: #16161D;
            font-size: 15pt;
        }
        > div{
            display: flex;
            flex-direction: column;
            gap: 8px;
            p{
                margin: 0px;
            }
        }
    }
    
    > div.resume{
        display: flex;
        justify-content: space-between;
        background-color: #16161D;
        color: white;
        border-radius: 8px;
        padding: 16px;
        align-items: center;
        > p{
            color: white;
            margin: 0px;
            &:nth-child(1){
                font-size: 12pt;
            }
            &:nth-child(2){
                color: #fcbf02;
                font-size: 15pt;
            }
        }
    }

    > div.items{
        display: flex;
        flex-direction: column;
        gap: 15px;
        > div.item{
            display: flex;
            flex-direction: column;
            gap: 15px;
            border-bottom: 1px solid #E0E6EE;
            padding-bottom: 8px;
            > div.one{
                > h2{
                    color: #16161D;
                }
                > h3{
                    font-weight: normal;
                    font-size: 11pt;
                }
            }
            > div.two{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                border-radius: 8px;
                border: 1px solid #E0E6EE;
                padding: 16px;
                > div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    border-right: 1px solid #E0E6EE;
                    > p{
                        margin: 0px;
                        font-weight: bold;
                        > span{
                            font-weight: normal;
                            &::before{
                                content:'';
                                display: block;
                            }
                        }
                    }
                    &:last-child{
                        border-right: 0px;
                    }
                    @media (max-width: 650px) {
                        flex-direction: column;
                        text-align: center;
                    }
                    @media (max-width: 550px) {                        
                        &:nth-child(3){
                            grid-column: 2/3;
                            grid-row: 1/3;
                        }
                    }
                }
                @media (max-width: 550px) {
                    grid-template-columns: 1fr 1fr;
                    gap: 15px;
                }
            }
            > div.three{
                display: grid;
                grid-template-columns: 1fr 80px 1fr;
                align-items: center;
                border-radius: 8px;
                border: 1px solid #E0E6EE;
                background: #F9F9F9;
                padding: 16px;
                > div.two{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: 550px) {
                        > img{
                            display: none;
                        }
                        border-top: 1px solid #E0E6EE;
                    }
                }
                > div.one, > div.three{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    p{
                        margin: 0px;
                        &:nth-child(1){
                            font-weight: bold;
                            font-size: 12pt;
                        }
                        &:nth-child(3){
                            font-size: 10pt;
                            font-weight: bold;
                        }
                    }
                    @media (max-width: 550px) {
                        align-items: baseline;
                    }
                }
                @media (max-width: 550px) {
                    grid-template-columns: 1fr;
                    grid-row-gap: 15px;
                }                
            }
            > div.four{
                border: 1px solid #E0E6EE;
                background: #F9F9F9;
                border-radius: 8px;
                padding: 16px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                > p{
                    margin: 0px;
                    border-bottom: 1px solid #E0E6EE;
                    padding-bottom: 8px;
                    font-weight: bold;
                    > span{
                        font-weight: normal;
                        &::before{
                            content:'';
                            display: block;
                        }
                    }
                    &:last-child{
                        border-bottom: 0px;
                        padding-bottom: 0px;
                    }
                }               
            }
        }
    }

    > a{
        display: flex;
        padding: 16px;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;      
        border-radius: 8px;
        border: 1px solid #16161D;
        color: #16161D;
        &.stripe{
            background-color: #635bff;
            color: white;
        }
        &.paypal{
            background-color: #ffc439;
            color: white;
        }
    }  
}

div.booking-information{
    width: 30%;
    margin: 35px auto 35px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 1800px) {
        width: 40%;
    }
    @media (max-width: 1300px) {
        width: 50%;
    }
    @media (max-width: 1100px) {
        width: 70%;
    }
    @media (max-width: 767px) {
        width: 95%;
    }    
}

div#social-links {
    > ul{
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;

        > li a{
            display: flex;
            padding: 16px;
            justify-content: center;
            align-items: center;
            gap: 16px;
            // align-self: stretch;      
            border-radius: 8px;
            border: 1px solid #16161D;
            color: #16161D;
        }
    }
}
