@import "../base/variables";
@import "../header/checkout";
@import "../components/bookingbox/index.scss";
@import "../footer/index";

div.booking-information{
    width: 30%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(145, 161, 180, 0.25);
    margin-top: 35px;
    margin-bottom: 35px;    
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #0059A7;

    > div.top{
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        padding: 24px 24px 0px 24px;
        > h1{
            color: #0059A7;
            font-weight: normal;
            font-size: 20pt;
            width: 80%;
            margin: 0 auto;
        }
        > p{
            margin: 0px;
            > span{
                color: #0059A7;
            }
        }
    }
    > div.banner{
        > img{
            width: 100%;
        }
    }

    > div.alert{
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-radius: 15px;
        background: #16161D;
        color: white;
        width: 120%;
        margin-left: -45px;
        p{
            margin: 0px;
        }
        > h2{
            width: 80%;
            font-size: 20pt;
            text-align: center;
            font-weight: normal;
        }
        > div{
            display: flex;
            gap: 15px;
            a{
                cursor: pointer;
                color: white;
                &:nth-child(1){
                    display: flex;                
                    padding: 17px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 8px;
                    background: #D01317;
                }
                &:nth-child(2){
                    display: flex;                
                    padding: 17px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 8px;
                    border: 1px solid white;
                }
            }            
        }
        @media (max-width: 550px) {
            width: 100%;
            margin-left: 0px;
        }
    }

    > div.resume-items{
        display: flex;
        padding: 10px;
        flex-direction: column;
        gap: 25px;
        > div.one{
            > div.top{
                display: flex;
                padding: 16px;
                justify-content: space-between;
                align-items: flex-start;
                gap: 16px;
                border-radius: 8px 8px 0px 0px;
                background: #16161D;
                color: white;
            }
            > div.bottom{                
                border: 1px solid #E0E6EE;
                border-radius: 0px 0px 5px 5px;
                > p{
                    padding: 15px;
                    border-bottom: 1px solid #E0E6EE;
                    margin: 0px;
                    &:last-child{
                        border-bottom: 0px;
                    }                    
                }
                > div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    > p{
                        margin: 0px;
                        font-size: 18pt;
                        font-weight: bold;
                        line-height: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        span{
                            font-size: 10pt;
                            font-weight: normal;
                            &::before{
                                content: '';
                                display: block;
                            }
                            &.blue{
                                background-color: #0059A7;
                                align-self: end;
                                color: white;
                                padding: 4px;
                                border-radius: 5px;
                            }
                        }
                        &:nth-child(1){
                            text-align: left;
                        }
                        &:nth-child(2){
                            text-align: right;
                        }
                    }
                }
            }
        }
        > div.two{
            display: grid;
            grid-template-columns: 1fr 80px 1fr;
            align-items: flex-start;
            border-radius: 8px;
            border: 1px solid #E0E6EE;
            background: #F9F9F9;
            padding: 16px;
            > div.two{
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                @media (max-width: 550px) {
                    > img{
                        display: none;
                    }
                    border-top: 1px solid #E0E6EE;
                }
            }
            > div.one, > div.three{
                display: flex;
                flex-direction: column;
                gap: 5px;
                p{
                    font-size: 10pt;
                    margin: 0px;
                    &:nth-child(1){
                        font-weight: bold;
                        font-size: 12pt;
                    }
                    &:nth-child(3){
                        font-size: 10pt;
                        font-weight: bold;
                    }
                }
                @media (max-width: 550px) {
                    align-items: baseline;
                }
            }
            @media (max-width: 550px) {
                grid-template-columns: 1fr;
                grid-row-gap: 15px;
            }                
        }
        > div.three{
            > img{
                width: 100%;
            }
        }
        > div.four{
            display: flex;
            flex-direction: column;
            gap: 15px;
            text-align: center;
            > h2{
                font-weight: normal;
            }
            > div{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 15px;
                p{
                    border-right: 1px solid #DDE5FD;
                    margin: 0px;
                    padding-right: 15px;
                    a{
                        color: #425466;
                        &.blue{
                            color: #0059A7;
                        }                        
                    }
                    &:last-child{
                        border-right: 0px;
                    }
                    @media (max-width: 550px) {
                        border-right: 0px;
                    }
                }
                @media (max-width: 550px) {
                    flex-direction: column;
                }
            }
        }
        > div.five{
            padding-top: 15px;
            border-top: 1px solid #DDE5FD;
        }
    }

    @media (max-width: 1800px) {
        width: 40%;
    }
    @media (max-width: 1300px) {
        width: 50%;
    }
    @media (max-width: 1100px) {
        width: 70%;
    }
    @media (max-width: 767px) {
        width: 95%;
    }
}