div.controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
}
.services-container{
    padding: 15px;
    background-color: #dde9fa;
    margin-top: 15px;
    border-radius: 8px;
    position: relative;
    >.check-bubble {
        position: absolute;
        top: -10px;
        right: -8px;
        width: 30px;
        height: 30px;
        background-color: #4CAF50; /* Verde para indicar selección */
        border-radius: 50%; /* Hace que sea un círculo */
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto 3D */
        cursor: pointer; /* Cambia el cursor a mano para indicar que es interactivo */
        
        >.check-mark {
            color: white !important; /* Color del check */
            font-size: 14px; /* Tamaño del check */
            font-weight: bold;
        }
    }
    > div.items-container{
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        > div.items{
            margin-bottom: 15px;
            border-bottom: 1px solid #dde9fa;
            &:last-child{
                margin-bottom: 0px;
                border-bottom: 0px;
            }
            > div.information_data{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                margin-bottom: 8px;
                > p{
                    margin: 0px;
                    > strong{
                        color: #000;
                    }
                }
            }
            > div.flight_data{
                margin-top: 8px;
            }
        }
        > div.item-data{
            table{
                tbody{
                    tr{
                        td{
                            > p{
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div#serviceMapModal{
    div#services_map{
        height: 350px;
    }
}

.pac-container{
    z-index: 9999;
}
div.image-listing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 25px;
    > div.item{
        max-height: 250px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        embed{
            width: 100%;
            height: 100%;
        }
        > div.btn_{
            position: absolute;
            top: 10px;
            right: 15px;
        }
    }
}