.autocomplete-results {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  &:empty{
    border: 0px;
  }
}

.autocomplete-results div {
    padding: 10px;
    cursor: pointer;
    font-size: 11pt;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    > span{
      color: #495057;
      font-size: 9pt;
      font-weight: normal;
    }
    > p{
      margin: 0px;
      padding: 10px 15px;
      font-size: 11pt;
      font-weight: bold;
    }
}
  
.autocomplete-results div:hover {
  background-color: #f2f2f2;
}
