@import "../../plugins/bootstrap-select/select";

#chartsModal2, #commissionsModal, #callcenterModal{
  .modal-content{

      .modal-header{
        flex-direction: column;
        align-items: start;
        gap: 10px;

        >.items_status{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          >.btn{
            font-size: 0.875rem; /*14*/
            font-weight: 400;
            text-align: center;
            padding: 0.375rem;
          }
        }

        .btn-close{
          position: absolute;
          top: 12%;
          right: 4%;
        }

        @media (min-width: 992px) {
          >.items_status{
            flex-direction: row;
          }

          .btn-close{
            top: 19%;
            right: 2%;
          }
        }

        @media (min-width: 1200px) {
          flex-direction: initial;
          align-items: center;

          .btn-close{
            position: initial;
          }
        }        
      }

      .modal-body{
        padding: 0;
        max-height: 650px;
        overflow-y: scroll;

        >span.container-loader{
          text-align: center;
          width: 100%;
          padding: 1rem; /*16*/

          .fa-spinner{
            font-size: 40px;
            color: #000;
          }
        }      

        .container_left, .container_right{
          display: flex;
          flex-direction: column;

          >div{
            border-bottom: 1px solid #CCD6EB;
            padding: 0.75rem; /*12*/
            display: flex;
            flex-direction: column;
            gap: 0.625rem; /*10*/

            h6{
              color: #425466;
              font-size: 0.875rem; /*14*/
              font-weight: 700;
              margin: 0 ;
            }

            >div:not(.table-responsive){ // Aplica solo si el segundo >div no tiene la clase table-responsive
              display: flex;
              flex-direction: column-reverse;
              gap: 0.625rem; /*10*/

              h6{
                margin-bottom: 0.625rem; /*10*/
              }
            }

            &:last-child{
              border-bottom: 0;
            }
          }
        }

        @media (min-width: 992px) {
            max-height: auto;
            overflow: auto;
            display: grid;
            padding: 1rem; /*16*/

            &.charts-double{
              padding: 0;
              grid-template-columns: 1fr 450px;
            }

            .container_left, .container_right{
              max-height: 650px;
              overflow-y: scroll;
            }

            .container_left{
              border-right: 1px solid #CCD6EB;
            }

            &.commission{

              .container_right{
                padding: 1rem;
              }
            }
        }

        @media (min-width: 1100px) {
          .container_left, .container_right{
            >div{
              >div:not(.table-responsive){ // Aplica solo si el segundo >div no tiene la clase table-responsive                                
                >div.chart-container{
                  position: relative;
                  margin: auto;
                  width: 100%;
                  height: 35vh;
                }
              }
            }
          }
        }

        @media (min-width: 1200px) {
          .container_left, .container_right{
            >div{
              >div:not(.table-responsive){ // Aplica solo si el segundo >div no tiene la clase table-responsive
                display: grid;
                grid-template-columns: 300px 1fr;
              }
            }
          }
        }
      }
  }

  .modal-dialog{
    @media (min-width: 992px) {
      // max-width: 1140px;
      max-width: 950px;
    }

    @media (min-width: 1200px) {
      max-width: 1150px;
    }

    @media (min-width: 1400px) {
      max-width: 1400px;
    }    
  }
}
