// .__payment_info{
//     cursor: pointer;
//     font-size: 20px;
// }

// /* Estilo para la capa */
// .layer {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: #ffffff;
//     color: white;
//     opacity: 0;
//     visibility: hidden;            
//     transition: opacity 0.5s ease, visibility 0.5s ease;
//     z-index: 1000;
// }

// .layer.active {
//     opacity: 1;
//     visibility: visible;
// }

// .header-chart,
// .body-chart{
//     width: 100%;
//     padding: 15px;
// }

// table.table-chart {
//     width: 100%;
//     border-collapse: collapse;
//     font-size: 10px;
//     color: #333;
//     text-align: left;
//     min-width: 400px;
// }
// .table-chart thead tr,
// .table-chart tfoot tr{
//     background-color: #009879;
//     color: white;
//     font-weight: bold;            
// }

// .table-chart th,
// .table-chart td {
//     padding: 12px 15px !important;
//     border: 1px solid #ddd;
// }
// .table-chart tbody tr:nth-child(even) {
//     background-color: #f3f3f3;
// }

// /* Hover en las filas */
// .table-chart tbody tr:hover {
//     background-color: #f1f1f1;
//     cursor: pointer;
// }

// /* Resaltar la fila seleccionada */
// .table-chart tbody tr.active-row {
//     font-weight: bold;
//     color: #009879;
// }

// .gran_total .btn {
//     font-size: 1.5em; /* Tamaño general más grande para el total */
//     color: #000; /* Color negro para el texto */
// }

// .gran_total .btn strong {
//     font-size: 1em; /* El texto "TOTAL" se mantiene en el mismo tamaño */
//     margin-right: 10px; /* Espacio entre "TOTAL:" y el monto */
// }

// .gran_total .btn span {
//     display: inline-flex;
//     /* align-items: flex-end; */
//     align-items: flex-start;
// }

// .gran_total .btn span::after {
//     content: ' MXN'; /* Moneda */
//     font-size: 0.65em; /* Texto más pequeño para la moneda */
//     margin-left: 5px; /* Espacio entre el monto y la moneda */
//     vertical-align: top; /* Alinea la moneda a la parte superior */
//     position: relative;
//     top: -0.2em; /* Ajuste fino para elevar ligeramente la moneda */            
// }

.__payment_info {
    cursor: pointer;
    font-size: 20px;
}
  
  /* Estilo para la capa */
  
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // height: 100vh;
    background-color: #ffffff;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    // z-index: 1000;
    z-index: 9999;

    .header-chart, .body-chart {
      width: 100%;
      padding: 15px;
      background-color: #ffffff;
    }

    .body-chart{      

      h5{
        font-size: 0.875rem;
      }
    }    
  
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  
  
  table.table-chart {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    color: #333;
    text-align: left;
    // min-width: 400px;
  }
  
  .table-chart {
    thead tr, tfoot tr {
      background-color: #009879;
      color: white;
      font-weight: bold;
    }
  
    th, td {
      padding: 12px 15px !important;
      border: 1px solid #ddd;
    }
  
    tbody tr {
      &:nth-child(even) {
        background-color: #f3f3f3;
      }
  
      &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
      }
  
      &.active-row {
        font-weight: bold;
        color: #009879;
      }
    }
  }
  
  /* Hover en las filas */
  
  /* Resaltar la fila seleccionada */
  
  .gran_total .btn, .btn_close .btn {
    font-size: .875rem;
  
    /* Tamaño general más grande para el total */
    color: #000;
  
    /* Color negro para el texto */
  
    strong {
      font-size: 1em;
  
      /* El texto "TOTAL" se mantiene en el mismo tamaño */
      margin-right: 10px;
  
      /* Espacio entre "TOTAL:" y el monto */
    }
  
    span {
      display: inline-flex;
      /* align-items: flex-end; */
      align-items: flex-start;
  
      &::after {
        content: ' MXN';
  
        /* Moneda */
        font-size: 0.65em;
  
        /* Texto más pequeño para la moneda */
        margin-left: 5px;
  
        /* Espacio entre el monto y la moneda */
        vertical-align: top;
  
        /* Alinea la moneda a la parte superior */
        position: relative;
        top: -0.2em;
  
        /* Ajuste fino para elevar ligeramente la moneda */
      }
    }
  }
  