@import "../../plugins/bootstrap-select/select";

#chartsModal{
  .modal-content{
      background-color: #fafbfc;
      font-family: Arial, sans-serif;

      .modal-header{
          h5{
              color: #425466;
              font-size: 18px;
              font-weight: 700;
              line-height: 24.15px;
              letter-spacing: 0;
          }
      }

      .modal-body{
        background-color: #ffffff;
        padding: 0;
        display: flex;
        flex-direction: column;

        .box_container{
          padding: 12px;
          max-height: 650px;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
          gap: 18px;

          >div{
            border-bottom: 1px solid #CCD6EB;
            padding-bottom: 1.125rem; /*18*/
            display: flex;
            flex-direction: column;                
            gap: 10px;            

            h6{
              color: #425466;
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 0;
              margin: 0 ;
            }            

            .table-responsive {
              border-radius: 8px;
              // border: 1px solid #CCD6EB; // Bordes claros
            
              table {
                width: 100%;
                border-collapse: collapse;
                font-family: "Arial", sans-serif;
                border-radius: 5px;
                overflow: hidden; // Asegura que el borde redondeado aplique a la tabla
            
                thead, tfoot {            
                  tr{
                    th {
                      background-color: rgba(51, 102, 255, 0.13) !important; // Fondo azul claro
                      padding: 0.5rem;
                      font-size: 0.625rem;
                      font-weight: 600;
                      color: #425466;
                      text-align: left;
                      border: 1px solid #CCD6EB; // Bordes claros
                    }
                  }
                }
            
                tbody {
                  tr {
                    th, td {
                      padding: 0.5rem;
                      font-size: 0.625rem;
                      color: #425466;
                      text-align: left;
                      border: 1px solid #CCD6EB; // Bordes sutiles
            
                      &:first-child {
                        font-weight: 600; // Estatus en negrita
                      }
                    }
                  }
                }
            
                tfoot {
                  tr {                        
                    th, td {
                      background-color: rgba(0, 172, 71, 0.13) !important; // Fondo verde claro para el total
                    }
                  }
                }
              }
            }

            &:last-child{
              border: 0;
            }            
          }
        }

        .box_sections{
          display: none;
        }

        @media (min-width: 992px) {
            display: grid;
            // grid-template-columns: 250px 1fr 250px;
            grid-template-columns: 1fr 300px;

            .box_filters, .box_sections{
              display: flex;
              flex-direction: column;              

              h6{
                color: #425466;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0;
                padding: 12px;
                margin: 0 ;
              }

              a{
                color: #425466;
                font-size: 14px;
                font-weight: 400;
                padding: 12px;
                border-bottom: 1px solid #CCD6EB;
                &.active{
                  border-left: 1px solid rgb(49, 130, 206);
                  background-color: rgb(49, 130, 206, 0.4);
                }
                &:nth-child(1){
                  border-top: 1px solid #CCD6EB;
                }
              }              
            }

            .box_container{
              border-left: 1px solid #CCD6EB;
              border-right: 1px solid #CCD6EB;
            }
        }          
      }
  }
}
  