@import "../../plugins/bootstrap-select/select";

#filterModal{
    .modal-content{

        .modal-body{
            padding: 0;
            display: flex;
            flex-direction: column;

            .top, .bottom{
                display: flex;
                flex-direction: column;
                gap: 21px;
                
                .bootstrap-select{
                    &.btn-group{
                        > .dropdown-toggle{
                            padding: 17px;
                            letter-spacing: initial;
                            font-size: 14px;
                            font-weight: 400;
                            text-align: left;                            
                            color: #425466 !important;
                            border-color: #CCD6EB;

                            .caret{
                                border-top-color: #CCD6EB;
                            }
                        }

                        &:hover{
                            > .dropdown-toggle{
                                opacity: 1;
                            }
                        }
                    }
                }

                .item{                    
                    &:first-child{
                        justify-content: end;
                    }

                    &:nth-child(2), &:nth-child(3){
                        display: grid;                        
                        grid-gap: 10px;

                        @media (min-width: 992px) {
                            grid-template-columns: 1fr 287px;
                        }
                    }

                    &:nth-child(2).one, &:nth-child(3).one{
                        grid-template-columns: 1fr;
                    }

                    @media (min-width: 992px) {
                        display: flex;
                    }
                }

                .form-control {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-clip: padding-box;
                    background-color: #fff;
                }

                .box_input, .box_select{
                    display: grid;
                    grid-template-columns: 25px 1fr 25px;
                    align-items: center;                    
                    border-radius: 8px;

                    .input{
                        display: flex;
                        flex-direction: row;
                        gap: 5px;

                        label, .form-control, .form-control::placeholder{
                            letter-spacing: initial;
                            color: #425466;
                            font-size: 14px;
                            outline: none;
                            margin: 0;
                        }

                        .form-control::placeholder{
                            font-weight: 400;
                            color: rgba(66, 84, 102, 0.55);
                        }
                    }

                    &.transparent, &.transparent_border{
                        padding: 0;
                        border: 0;
                        grid-gap: 5px;

                        .input{
                            display: grid;
                            grid-template-columns: 137px 1fr;
                            grid-gap: 5px;
                            align-items: center;

                            label, .form-control, .form-control::placeholder{
                                line-height: 19.55px;
                                border: 0;
                                padding: 0;
                            }

                            label{
                                font-weight: 400; 
                            }

                            .form-control{
                                font-weight: 700;
                                text-align: center;
                            }
                        }
                    }

                    &.transparent_border{
                        grid-template-columns: 25px 1fr;
                        grid-gap: 10px;
                        border: 1px solid #CCD6EB;
                        padding: 16px;                        

                        .input{
                            grid-template-columns: 80px 1fr;
                            grid-gap: 10px;

                            .form-control{
                                text-align: left;
                            }
                        }
                    }                    
                }

                .box_check{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 21px;
                    margin: 0;

                    .form-check{
                        display: flex;
                        align-items: center;
                        gap: 5px;                        

                        .form-check-input{
                            margin-top: 0;
                        }

                        .form-check-label{
                            letter-spacing: initial;
                            color: #425466;                                                      
                            font-size: 14px;
                            outline: none;
                            margin: 0;
                        }
                    }
                }

                .box_select{
                    grid-template-columns: 25px 1fr;
                    grid-gap: 5px;

                    .bootstrap-select{
                        &.btn-group{
                            > .dropdown-toggle{
                                padding: 0;
                                border: 0;
                            }
                        }
                    }
                }
            }

            .top{
                padding: 1rem 1rem 2.125rem;
                border-bottom: 1px solid #CCD6EB;
            }

            .bottom{
                padding: 2.125rem 1rem 1rem;
                display: grid;
                grid-template-columns: 1fr;
                grid-column-gap: 10px;
                grid-row-gap: 10px;

                @media (min-width: 992px) {
                    grid-template-columns: 1fr 1fr
                }

                @media (min-width: 1200px) {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }            
        }
    }
}