/* Contenedor para permitir scroll vertical */
.table-responsive {
    position: relative;
    // overflow-y: auto; /* Scroll vertical */
    // max-height: 400px; /* Ajusta según tu diseño */
}

.dataTables_wrapper .dataTables_scrollBody {
    overflow-x: auto;
    border: none;
}

.dtfh-floatingparent-head{
    top: 106px !important;
}

/* Mantén la alineación del encabezado */
// .table thead th {
//     position: sticky;
//     top: 0; /* Fija el encabezado en la parte superior */
//     background-color: white; /* Fondo blanco para el encabezado */
//     z-index: 2; /* Asegura que el encabezado esté encima de las filas */
//     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Opcional: sombra para mayor contraste */
// }

table.dataTable thead {
    border-bottom: 1px solid #000;  /* Borde inferior para separar del body */
}