// @import '../../plugins/table/datatable/dataTables_fixedHeader.scss';

/* Contenedor para permitir scroll vertical */
.table-responsive {
    position: relative;
    overflow-y: auto; /* Scroll vertical */
    // max-height: 400px; /* Ajusta según tu diseño */
}

.dataTables_wrapper .dataTables_scrollBody,
.dt-container .dt-scroll-body {
    overflow-x: auto;
    border: none;
}

.dtfh-floatingparent-head,
.dtfh-floatingparenthead{
    top: 106px !important;    
}

table.dataTable thead {
    border-bottom: 1px solid #000;  /* Borde inferior para separar del body */
}