.table-responsive {
    position: relative;
    /* overflow-y: auto !important; 
    max-height: 800px; */
}

.dataTables_wrapper .dataTables_scrollBody {
    overflow-x: auto;
    border: none;
}
.dtfh-floatingparenthead{
    top: 106px !important;
}
table.dataTable thead {
    border-bottom: 1px solid #000;  /* Borde inferior para separar del body */
}