div.image-listing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-top: 25px;

    > div.item{
        position: relative;
        text-align: center;
        height: 360px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        embed{
            width: 100%;
            height: 100%;
        }

        >div.container-degad {
            width: 100%;
            height: 100%;
            padding: 10px;
            position: absolute;
            top: 0;
            background-color: rgba(0, 0, 0, .5);
            transition: .2s ease-in-out;

            .content-top{
                text-align: left;
                > div.btn_{
                    position: absolute;
                    top: 2%;
                    left: 2%;
                    display: flex;
                    gap: 5px;
        
                    a,button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .content-bottom{                
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 10px;
                text-align: left;
                width: 100%;

                p{
                    display: block;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    font-size: 14px;
                    color: #fff;
                    text-shadow: 2px 2px black;
                }
            }

            &:hover{
                background: none;
            }
        }
    }
}

.pdf-lightbox-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .pdf-lightbox-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        background: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;

        .pdf-lightbox-close {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 30px;
            color: black;
            cursor: pointer;
        }
        
        #pdf-frame {
            width: 100%;
            height: 100%;
        }        
    }
}