.NewTimeLine{
    width:100%;
    height: 450px;
    overflow-x: auto;
    overflow-y: scroll;
	color:#fff;
	padding: 0px 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    ul{
        list-style-type:none;
        border-left:2px solid #094a68;
        padding:10px 5px;
        li{
            padding: 15px 5px;
            position:relative;
            cursor:pointer;
            transition:.5s;
            border-bottom: 1px solid #ebedf2;
            > span, > div span{
                display:inline-block;
                background-color: #3b3f5c;
                border-radius: 10px;                
                font-size: 10px;
                text-align:center;
                padding: 3px 10px;
            }
            .content{
                h3{
                    margin-top: 8px;
                    margin-bottom: 0px;
                    color: #0e1726;
                    font-size: 10pt;                    
                }
                p{
                    padding:5px 0px 5px 0px;
                    font-size: 9pt;
                    color: #0e1726;
                }
            }
            &::before{
                position:absolute;
                content:'';
                width:10px;
                height:10px;
                background-color:#34ace0;
                border-radius:50%;
                left:-11px;
                top:28px;
                transition:.5s;
            }
            &:last-child{
                border: 0px;
            }
            &:hover{
                background-color: #ebedf2;
                &::before{
                    background-color:#4361ee;
	                box-shadow:0px 0px 10px 2px #4361ee;
                }
            }
        }
    }
}